<html>
<head>
<body>

<div class="block1">
<h1>Hello Vaibhav!</h1>
  <h2>Here is my 1st python web app for you: </h2>
  <p>
"The limits of my language are the limits of my mind. Python is an interpreted, object-oriented programming language similar to PERL, that has gained popularity because of its clear syntax and readability. Python is said to be relatively easy to learn and portable, meaning its statements can be interpreted in a number of "
  </p>
<img src="http://www.naturalprogramming.com/images/smilingpython.gif">
</div>

 
</body>
<head>
</html>
